{% extends "bootstrap.html" %}
{% load static %}
{% load socialaccount %}



<style>
    .to_home {
        border: none;
        text-decoration: none !important;
        padding: 5px;
        font-size: 24px;
        color: #000;
        background:
            linear-gradient(currentColor 0 0) 0 100% /var(--d, 0) 3px no-repeat;
        transition: 0.5s;
    }

    .to_home:hover {
        color: darkgreen;
        transform: scale(1.02);
        --d: 100%;
    }
</style>

{% block content %}
<section class="vh-100 " style="background-color: #fff;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100 ">
            <div class="col col-xl-10">
                <div class="card login_box" style="border-radius: 1rem;box-shadow: 10px 5px 5px #1e1e1e;-webkit-box-shadow:10px 5px 5px #1e1e1e;
                -moz-box-shadow: 10px 5px 5px #1e1e1e;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="{% static 'login_image.jpg' %}" alt="login form" class="img-fluid"
                                style="border-radius: 1rem 0 0 1rem;" />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">

                                <form id="login_form" method="post">
                                    <p style="font-size: 16px;height:1rem;color: red;" id="error_message"></p>
                                    {% csrf_token %}

                                    <div style="display: flex;align-items:center; justify-content:space-between;">
                                        <div>
                                            <i style="font-size: 32px;margin-right:3px;" class="fa fa-cat"></i>
                                            <span class="h1 fw-bold mb-0">Chatcat </span>
                                        </div>
                                        <div style="display:flex;gap:10px;">
                                            <a href="{% provider_login_url 'google' %}">
                                                <i class="fa fa-google" style="font-size: 32px;"></i>
                                            </a>

                                            <a href="{% url 'social:begin' 'github'  %}?next=/">
                                                <i class="fa-brands fa-github" style="font-size: 32px;"></i></a>
                                        </div>
                                    </div>

                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account
                                    </h5>

                                    <div class="form-outline mb-4">
                                        <!-- <input type="email" id="form2Example17" class="form-control form-control-lg" /> -->
                                        {{form.username}}
                                        <label class="form-label" for="form2Example17">Username</label>
                                        <!-- <input type="text" name="" id="" list="usernames"> -->
                                        <!-- <datalist id="id_usernames">
                                            {% for user in users %}
                                            <option value="{{user.username}}"></option>   # cant scale this feature 
                                            {% endfor %}
                                        </datalist> -->
                                    </div>
                                    <div class="form-outline mb-4">
                                        <!-- <input type="password" id="form2Example27"
                                            class="form-control form-control-lg" /> -->

                                        {{form.password}}
                                        <label class="form-label" for="form2Example27">Password</label>
                                    </div>
                                    <div class="form-outline mb-4">                                       
                                        <input type="checkbox" id="pass_chkbox"> Show Password
                                    </div>
                                    <div class="pt-1 mb-4">
                                        <button class="btn btn-dark btn-lg btn-block" type="submit">Login</button>
                                    </div>


                                    
                                    <br>

                                    <a class="small text-muted" href="#!">Forgot password?</a>
                                    <p class="mb-5 pb-lg-2 " style="color: #393f81;">Don't have an account? <a
                                            hx-boost="true" href="{% url 'register_view' %}"
                                            style="color: #393f81;"><span style="text-decoration: none;"
                                                class="to_home">Register here</span></a></p>
                                    <a href="#!" class="small text-muted">Terms of use.</a>
                                    <a href="#!" class="small text-muted">Privacy policy</a>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{%endblock%}