{% load static %}
<link rel="stylesheet" href="{% static 'main.css' %}">

<style>
    .delete_confermation_btn:hover {

        background-color: red;

    }

    .delete_box {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .delete_box>.delete_form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
</style>

<div class="delete_box">

    <form class="delete_form" method="post" action=".">
        {% csrf_token %}
        <h2>Are you sure you want to delete, "{{post.post_name}}" ?</h2>
        <input class="logout_btn delete_confermation_btn" type="submit" value="delete">
    </form>
    <a href="{% url 'home' %}" class="to_home" type="submit">Go Back</a>

</div>