{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
{% if obj %}
{% for obj in obj %}

<div
    style="border-radius:5px;margin-bottom:25px;padding:1rem;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;margin-top:150px; ">
    <form method="post">
        <input hidden value="{{obj.id}}" name="liked_post_id">
    </form>
    <div style="padding: 5%;" class="content">
        {% for profile in profile %}
        {% if profile.user == obj.user %}
        <div style="margin-bottom:5px;">
            <img src="{{profile.avatar.url}}" style="height:40px;width:40px;border-radius:50%;">
            <a hx-boost="true" href="{% url 'show-profile' profile.id %}"
                style="text-decoration:none;color:#000;">{{obj.user}}</a>
        </div>
        {% endif %}
        {% endfor %}

        {% if obj.image.url|slice:"-4:" == ".mp4" %}
        <video style="border-radius: 5px;" data-src="{{  obj.image.url  }}" controls height="250px"
            width="100%"></video>
        {% else %}
        <img class="img-fluid" style="border-radius: 5px;" width="100%" data-src="{{  obj.image.url  }}" alt="Image ">
        {% endif %}
        <p>{{obj.desription}}</p>
    </div>
    <div id="like-div">
        {% include "posts/likes/partial.html" %}
    </div>
    <div hx-boost="true">
        <!-- #false -->
        <a hx-boost="true" href='{% url "post_detail" obj.id  %}' class="btn btn-outline-dark mt-4">comment</a>
    </div>

    <div style="width: 100%;display: flex;justify-content:flex-end;gap:10px ;">
        {% if obj.user == request.user %}
        <a hx-boost="true" style="color:red;text-align: right;" href="{% url 'post_delete' obj.id %}">delete post</a>
        <a hx-boost="true" style="text-align: right;" href="{% url 'edit_post' obj.id %}">Edit</a>
        {% endif %}
    </div>
</div>

{% endfor %}

{% else %}
<h1 style="background:skyblue;text-align:center;margin-top: 200px;">No Posts available</h1>
{% endif %}


<button onclick="scrollToTop()">
    Click to scroll to top
</button>


<script>

    //goto topbtn


    const goTopBtn = document.querySelector('.go-top-btn');

    window.addEventListener('scroll', checkHeight)

    function checkHeight() {
        if (window.scrollY > 200) {
            goTopBtn.style.display = "flex"
        } else {
            goTopBtn.style.display = "none"
        }
    }

    goTopBtn.addEventListener('click', () => {
        window.scrollTo({
            top: 0,
            behavior: "smooth"
        })
    })



    //image observer lazyload
    const images = document.querySelectorAll("[data-src]");

    function preLoadImage(img) {
        const src = img.getAttribute("data-src")
        if (!src) {
            return;
        }
        img.src = src
    }

    const imgOptions = {
        rootMargin: "100px "
    }

    const img_observer = new IntersectionObserver((entries, img_observer) => {
        entries.forEach(entry => {
            if (!entry.isIntersecting) {
                return;
            }
            else {
                preLoadImage(entry.target);
                img_observer.unobserve(entry.target)

            }
        })
    }, imgOptions)

    images.forEach(image => {
        img_observer.observe(image)
    })

</script>