<h1>Edit</h1>
<h2>and share your expirences with the world</h2>


<form style="margin-top: 300px;" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="post">
</form>



<div style="border: 1px solid #000;border-radius:px;height:400px;width:500px;background-position:center;background-size:100% 90%;background-repeat: no-repeat;"
    id="img_display">

</div>


<script>
    var at_first = document.querySelector("#img_display").style.backgroundImage = `url({{post.image.url}})`

    const image = document.querySelector("#id_image");
    var uploaded_image = "";
    const display = document.querySelector("#img_dispaly");

    image.addEventListener('change', function () {
        //console.log(image.value)
        const reader = new FileReader();
        reader.addEventListener("load", () => {
            uploaded_image = reader.result;
            document.querySelector("#img_display").style.backgroundImage = `url(${uploaded_image})`
        });
        reader.readAsDataURL(this.files[0]);
    })
</script>