{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

{% if obj %}
{% for obj in obj %}
<div
    style="border-radius:5px;margin-bottom:35px;padding:1rem;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;margin-top:150px; ">
    <form method="post">
        <input hidden value="{{obj.id}}" name="liked_post_id">
    </form>
    <div style="padding: 5%;" class="content">
        <p>{{obj.user}}</p>
        <p>{{obj.name}}</p>
        {% if obj.image.url|slice:"-4:" == ".mp4" %}
        <video lazy src="{{  obj.image.url  }}" controls height="250px" width="100%"></video>
        {% else %}
        <img lazy width="100%" data-src="{{  obj.image.url  }}" alt="Image ">
        {% endif %}
        <p>{{obj.desription}}</p>
        <p id="likes_me{{obj.id}}"></p>
    </div>


    <div id="like-div">
        {% include "partial.html" %}
    </div>
    <a href='{% url "post_detail" obj.id  %}' style="    appearance: auto;
            writing-mode: horizontal-tb !important;
            text-rendering: auto;
            color: buttontext;
            letter-spacing: normal;
            word-spacing: normal;
            line-height: normal;
            text-transform: none;
            text-indent: 0px;
            text-shadow: none;
            display: inline-block;
            text-align: center;
            align-items: flex-start;
            cursor: default;
            box-sizing: border-box;
            background-color: buttonface;
            margin: 0em;
            padding: 1px 6px;
            border-width: 2px;
            border-style: outset;
            border-color: buttonborder;
            border-image: initial;">comment</a>

    <!-- ADD THE ABILITY TO UPLOAD VIDDEOS -->

</div>
<script>
    var formatter = Intl.NumberFormat('en', { notation: 'compact' })
    var likeee = document.getElementById("likes_me{{obj.id}}")
    var the_Numbers = document.getElementById("like_count{{ obj.id }}").value
    console.log("from partials.html", the_Numbers)
    var n = formatter.format("{{obj.like_count}}")
    likeee.innerHTML = n
    console.log(n)
</script>
{% endfor %}

{% else %}
<h1 style="background:skyblue;text-align:center;">No Posts available</h1>
{% endif %}



<script>
    const images = document.querySelectorAll("[data-src]");

    function preLoadImage(img) {
        const src = img.getAttribute("data-src")
        if (!src) {
            return;
        }
        img.src = src
    }

    const imgOptions = {
        rootMargin: "150px "
    }


    const img_observer = new IntersectionObserver((entries, img_observer) => {
        entries.forEach(entry => {
            if(!entry.isIntersecting) {
                return;
            }
            else {
                preLoadImage(entry.target);
                image_observer.unobserve(entry.target)
            }
        })
    }, imgOptions)
    
    images.forEach(image => {
        img_observer.observe(image)
    })
    
</script>