{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

{% if obj %}
{% for obj in obj %}
<div
    style="border-radius:5px;margin-bottom:35px;padding:1rem;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;margin-top:150px; ">
    <form method="post">
        <input hidden value="{{obj.id}}" name="liked_post_id">
    </form>
    <div style="padding: 5%;" class="content">
        <p>{{obj.user}}</p>
        <p>{{obj.name}}</p>
        {% if obj.image.url|slice:"-4:" == ".mp4" %}
        <video style="border-radius: 5px;"  data-src="{{  obj.image.url  }}" controls height="250px" width="100%"></video>
        {% else %}
        <img  style="border-radius: 5px;" width="100%" data-src="{{  obj.image.url  }}" alt="Image ">
        {% endif %}
        <p>{{obj.desription}}</p>
        <!-- <p id="likes_me{{obj.id}}">hi</p> -->
    </div>


    <div id="like-div">
        {% include "partial.html" %}
    </div>
    <a href='{% url "post_detail" obj.id  %}' class="btn btn-outline-dark mt-4" >comment</a>

    <!-- ADD THE ABILITY TO UPLOAD VIDDEOS -->

</div>
<!-- <script>
    // needs to be inside the for loop

    // this portion uses the avascript internationalization api to convert number of likes to other format
    // such as 2.3k , 1M or even 1.1B
    
    var formatter = Intl.NumberFormat('en', { notation: 'compact' })
    var likeee = document.getElementById("likes_me{{obj.id}}")
    var the_Numbers = document.getElementById("like_count{{ obj.id }}").value
    console.log("from partials.html", the_Numbers)
    var n = formatter.format("{{obj.like_count}}")
    likeee.innerHTML = n
    console.log(n)
</script> -->
{% endfor %}

{% else %}
<h1 style="background:skyblue;text-align:center;">No Posts available</h1>
{% endif %}



<script>
    const images = document.querySelectorAll("[data-src]");

    function preLoadImage(img) {
        const src = img.getAttribute("data-src")
        if (!src) {
            return;
        }
        img.src = src
    }

    const imgOptions = {
        rootMargin: "150px "
    }


    const img_observer = new IntersectionObserver((entries, img_observer) => {
        entries.forEach(entry => {
            if(!entry.isIntersecting) {
                return;
            }
            else {
                preLoadImage(entry.target);
                image_observer.unobserve(entry.target)
            }
        })
    }, imgOptions)
    
    images.forEach(image => {
        img_observer.observe(image)
    })
    
</script>